.base {
  display: grid;
  grid-template-rows: 1rem 1fr 1rem;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.header {
  padding: 0.125rem 0.5rem;
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1;
  border-bottom: 1px dotted #666;
}

.title {
  line-height: 1;
}

.footer {
  padding: 0 0.5rem;
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1;
  text-align: right;
}
