.container {
  font-size: 0.75rem;
}

.titles {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 3rem 6.5rem 6.5rem 4rem 8rem 4.5rem 4.5rem 4.5rem 5rem 8rem;
  font-size: 0.75rem;
}

.content {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 3rem 6.5rem 6.5rem 4rem 8rem 4.5rem 4.5rem 4.5rem 5rem 8rem;
  font-size: 0.75rem;
  & > input {
    width: 100%;
    padding: 0 0.25rem;
    border-right: 1px dotted #666;
    border-bottom: 1px dotted #666;
    text-align: center;
  }
}

.text {
  resize: none;
  border-right: 1px dotted #666;
  width: 100%;
  padding: 0 0.25rem;
}
