.container {
  margin-bottom: 1rem;
  font-size: 0.75rem;

  .content-wrap {
    display: grid;
    grid-template-columns: 1fr 1rem;
    border-right: 1px dotted #666;
    border-bottom: 1px dotted #666;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr repeat(15, 3rem);
    font-size: 0.75rem;
    list-style-type: none;
    border-left: 1px dotted #666;

    & > input {
      width: 100%;
      padding: 0 0.25rem;
      text-align: center;
      border-right: 1px dotted #666;
    }
  }

  & :global(.grab) {
    display: none;
  }
}

.titles {
  display: grid;
  grid-template-columns: 1fr repeat(15, 3rem);
  list-style-type: none;
}
