.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.75rem;
}

.base-table {
  width: 50%;
}

.sub-table {
  width: 45%;
}

.base-table,
.sub-table {
  table-layout: fixed;
  border-collapse: collapse;

  & td,
  & th {
    border: 1px dotted #666;

    input {
      width: 100%;
      padding: 0 0.25rem;
      text-align: center;

      &.long {
        text-align: left;
      }
    }
  }
}

.summray-row {
  border-top: 3px double #888;

  &:not(:last-child) {
    border-bottom: 3px double #888;
  }
}

.item {
  width: 2.5rem;
}

.row-title {
  width: 6rem;
  font-weight: 400;
}
