.grids {
  display: grid;
  grid-template-columns: 8rem 4rem 3rem 3rem 6rem 1fr;
  font-size: 0.75rem;

  & [data-title='参照'],
  & [data-title='判定値'] {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  & [data-title='技能']::-webkit-calendar-picker-indicator {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}
