.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  width: 10rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;

  > button:hover {
    background-color: #ddd;
  }
}
