.head {
  display: grid;
  grid-template-columns: 1fr 1rem;
  font-size: 0.75rem;
  border: 1px dotted #666;
}

.item {
  text-align: center;
  border-right: 1px dotted #666;
}

.grab {
  composes: grab from global;
  text-align: center;
}
