.list {
  list-style-type: none;
  border-bottom: 1px dotted #666;
  border-left: 1px dotted #666;

  &:empty {
    display: none;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1rem;

  &:not(:last-of-type) {
    border-bottom: 1px dotted #666;
  }

  &[data-dragging] {
    border: 1px dotted #666;
  }
}
 