.ability-layout {
  font-size: 0.75rem;

  & :global(.content-list),
  & :global(.head-list) {
    display: grid;
    grid-template-columns: 12rem 2rem 8rem 8rem 5rem 5rem 4rem 5rem 5rem 5rem 2.5rem 6rem 1fr;
  }

  & [data-title='備考'] {
    text-align: left;
    resize: none;
  }
}

.ability-numbers {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  table-layout: fixed;

  & thead tr th:first-child,
  & thead tr th:nth-child(2),
  & thead tr th:nth-child(3),
  & thead tr th:nth-child(4) {
    width: 8rem;
  }
}
