.layout {
  width: 75%;
  font-size: 0.75rem;
  table-layout: fixed;

  thead th:first-child {
    width: 8rem;
  }

  thead th:last-child {
    width: 32rem;
  }

  tbody tr:nth-child(4),
  tbody tr:nth-child(5),
  tbody tr:nth-child(7) {
    border-bottom: 3px double #666;
  }
}
